<div fxLayout="row">
    <mat-form-field>
        <mat-label class="mandatory">תיקיה</mat-label>
        <mat-select [(value)]="importAttributes.folderName" matTooltip="בחרו תיקייה המכילה קבצים שברצונכם לקלוט">
            <mat-option *ngFor="let folder of folders" [value]="folder">
                {{ folder }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field>
        <mat-label class="mandatory">הוסף שמות קבצים לשדה</mat-label>
        <mat-select [(value)]="importAttributes.addFileNamesTo">
            <mat-option value="do-nothing">
                אל תוסיף
            </mat-option>
            <mat-option value="dcTitle">
                כותרת
            </mat-option>
            <mat-option value="dcDescription">
                תיאור
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field>
        <mat-label class="mandatory">טיפול בטקסט</mat-label>
        <mat-select [(value)]="importAttributes.textAction" matTooltip="מה לעשות כאשר תוכן המסמך מכיל טקסט?">
            <mat-option value="do-nothing">
                לא לעשות כלום
            </mat-option>
            <mat-option value="extract">
                לשלוף את הטקסט - העתק והדבק
            </mat-option>
            <mat-option value="recognize">
                לנסות לזהות טקסט סרוק באמצעות OCR
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field>
        <mat-label class="mandatory">סוג</mat-label>
        <mat-select [(value)]="importAttributes.dcType" matTooltip="סוג המסמך או הפריט">
            <mat-option value="text">טקסט</mat-option>
            <mat-option value="image">תמונה</mat-option>
            <mat-option value="audio">צליל</mat-option>
            <mat-option value="video">סרט</mat-option>
            <mat-option value="other">אחר</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field>
        <mat-label>סיווג</mat-label>
        <mat-select [(value)]="importAttributes.dcAccessRights"
            matTooltip="ציבורי: לכולם מותר לצפות בקובץ, פרטי: רק  למשתמשים רשומים, סודי: רק למנהלות הארכיון.">
            <mat-option value="public">ציבורי</mat-option>
            <mat-option value="private">פרטי</mat-option>
            <mat-option value="secret">סודי</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field>
        <mat-label>תאריך</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="importAttributes.dcDateStart" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>כותרת</mat-label>
        <input matInput [(ngModel)]="importAttributes.dcTitle" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>יוצרים</mat-label>
        <input matInput [(ngModel)]="dcCreator" matTooltip="שם היוצר, או רשימה של יוצרים, מופרדת באמצעות פסיקים" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>תיאור</mat-label>
        <input matInput [(ngModel)]="importAttributes.dcDescription" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>חטיבה</mat-label>
        <input matInput [(ngModel)]="importAttributes.isadFonds" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>חטיבת משנה</mat-label>
        <input matInput [(ngModel)]="importAttributes.isadSubFonds" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>סידרה</mat-label>
        <input matInput [(ngModel)]="importAttributes.isadSeries" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>תיק</mat-label>
        <input matInput [(ngModel)]="importAttributes.isadFile" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>מוצא</mat-label>
        <input matInput [(ngModel)]="importAttributes.dcSource" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>סימול</mat-label>
        <input matInput [(ngModel)]="importAttributes.dcIdentifier" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-checkbox [(ngModel)]="importAttributes.localStoragePermanent">
        מיקום קבוע
    </mat-checkbox>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>ארון</mat-label>
        <input matInput [(ngModel)]="importAttributes.localStorageCabinet" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>מדף</mat-label>
        <input matInput [(ngModel)]="importAttributes.localStorageShelf" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field class="editTextFields">
        <mat-label>מיכל</mat-label>
        <input matInput [(ngModel)]="importAttributes.localStorageContainer" />
    </mat-form-field>
</div>
<div fxLayout="row">
    <button matTooltip="התחל בתהליך הקליטה" (click)="import()">
        קליטה
    </button>
</div>